<style>
    .banner {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        padding: 20px;
        margin: 10px;
        border-radius: 20px;
        border: 2px solid darkgrey;
    }

    .banner * {
        margin: 0;
    }
</style>
<div class="banner">
    <h2 style="margin:auto;">Wow!</h2>
    <p>Announcement of cool thing goes here</p>
    <div class="close"></div>
</div>
