<style>
    .banner {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #d02023;
        color: white;
        padding: 20px;
        margin: 5px;
        border-radius: 10px;
        border: 2px solid white;
    }

    .banner p {
        margin-bottom: 10px;
    }

    .banner h3 {
        margin: auto;
        text-align: center;
    }

    .banner hr {
        margin: 10px 0;
    }

    .banner a {
        color: white;
    }

    .banner a:hover {
        color: darkgrey;
    }

    .banner * {
        margin: 0;
    }
</style>
<div class="banner">
    <h3>Dr. Mary Louise Hanson Pritchard<br>Celebrating 100 Years of Life Science and Service</h3>
    <hr>
    <p><b>July 16-18</b> Morrill Hall, University of Nebraska State Museum.</p>
    <p>Join us in person or online to celebrate the legacy of a pioneering woman of science.</p>
    <p>To continue Mary Lou's vision and support the HWML, <a href="/support"><i>click here</i></a>.</p>

    <a href="/documents/centenary" class="main_button" style="margin:auto;">Go to the Schedule</a>
</div>
