<footer>
    <div class="footer_item show-mobile" style="margin-top: 30px;">
        <div class="socials">
            <p style="font-size: 18pt;">Connect with us:</p>
            <a href="https://www.facebook.com/ManterLab/" target="_blank" class="social_icon"><img src="/assets/images/icons/Facebook_Logo.svg" alt="Facebook Logo"></a>
            <a href="https://www.instagram.com/manter_lab/" target="_blank" class="social_icon"><img src="/assets/images/icons/Instagram_Logo.svg" alt="Instagram Logo"></a>
            <a href="https://github.com/Manter-Lab/" target="_blank" class="social_icon"><img src="/assets/images/icons/github-mark-white.svg" alt="GitHub Logo"></a>
            <a href="mailto:slg@unl.edu" target="_blank" class="social_icon"><img src="/assets/images/icons/envelope.svg" alt="GitHub Logo"></a>
        </div>
        <hr>
    </div>
    <div class="footer_item hide-mobile">
        <div class="socials">
            <p style="font-size: 18pt;">Connect with us:</p>
            <a href="https://www.facebook.com/ManterLab/" target="_blank" class="social_icon"><img src="/assets/images/icons/Facebook_Logo.svg" alt="Facebook Logo"></a>
            <a href="https://www.instagram.com/manter_lab/" target="_blank" class="social_icon"><img src="/assets/images/icons/Instagram_Logo.svg" alt="Instagram Logo"></a>
            <a href="https://github.com/Manter-Lab/" target="_blank" class="social_icon"><img src="/assets/images/icons/github-mark-white.svg" alt="GitHub Logo"></a>
            <a href="mailto:slg@unl.edu" target="_blank" class="social_icon"><img src="/assets/images/icons/envelope.svg" alt="GitHub Logo"></a>
        </div>

        <a href="https://www.unl.edu" style="display:flex;text-decoration:none;width:80%;justify-content: space-between;margin:20px auto;height:fit-content;">
            <img src="/assets/images/logos/UNL_N_Logo-white.svg" style="width: 25%;height:fit-content;" alt="White UNL N Logo">
            <img src="/assets/images/logos/Nebraska_Logo.svg" style="width: 70%;height:fit-content;margin-top:auto;" alt="Sans serif Nebraska text">
        </a>

        <p style="width: 75%;margin:auto;">Site design based on <a href="https://wdn.unl.edu/documentation/5.x">UNL Web Frameworks 5.0</a></p>
    </div>
    <div class="footer_item" style="margin-bottom: auto;">
        <a href="https://www.nsf.gov/" target="_blank"><img src="/assets/images/logos/NSF_Logo.svg" alt="National Science Foundation globe logo"></a>
        <p>This material is based upon work supported by the National Science Foundation</p>
    </div>
    <div class="footer_item" style="margin-bottom: auto;">
        <a href="https://www.zeiss.com/meditec/us/about-us/grants-program.html" target="_blank"><img src="/assets/images/logos/Zeiss_Logo.svg" style="width: 70px;" alt="Blue zeiss logo with white text saying Zeiss"></a>
        <p>Supported by Zeiss</p>
    </div>
    <div class="footer_item show-mobile" style="margin-top: 30px;">
        <hr>
        <a href="https://www.unl.edu" style="display:flex;text-decoration:none;width:80%;justify-content: space-between;margin:20px auto;height:fit-content;">
            <img src="/assets/images/logos/UNL_N_Logo-white.svg" style="width: 25%;" alt="White UNL N Logo">
            <img src="/assets/images/logos/Nebraska_Logo.svg" style="width: 70%;" alt="Sans serif Nebraska text">
        </a>
        <hr>

        <p style="width: 75%;margin:auto;">Site design based on <a href="https://wdn.unl.edu/documentation/5.x">UNL Web Frameworks 5.0</a></p>
    </div>
</footer>
