<header>
    <nav>
        <a class="unl_link" href="https://www.unl.edu/" title="UNL Homepage"><img src="/assets/images/logos/UNL_N_Logo-white.svg" type="image/svg+xml" class="nav-button" alt="White UNL N logo"></a>
        <img src="/assets/images/extras/menu_icon.svg" type="image/svg+xml" class="show-mobile nav-button" alt="Menu icon with 3 vertically stacked lines">
        <a class="nav_item" href="/" style="border-left: none;"><p>Home</p></a>
        <a class="nav_item" href="/staff"><p>People</p></a>
        <a class="nav_item" href="/research"><p>Research</p></a>
        <a class="nav_item" href="/support"><p>Support</p></a>
        <a class="nav_item" href="/policy"><p>Collections <br class="hide-mobile">Policy</p></a>
        <a class="nav_item" href="https://arctos.database.museum/collection/HWML:Para" title="ARCTOS Database"><p>Specimen <br class="hide-mobile">Database</p></a>
        <a class="nav_item" href="/documents/zaiman"><p>Images</p></a>
    </nav>
</header>
