<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/style_main.css?v1.1">
    <link rel="stylesheet" href="/assets/styles/images.css">
    <link rel="stylesheet" href="/assets/styles/header.css">
    <link rel="stylesheet" href="/assets/styles/footer.css">
    <link rel="stylesheet" href="/assets/styles/people.css">
    <link rel="stylesheet" href="/assets/styles/research.css">
    <link rel="stylesheet" href="/assets/styles/mobile.css">

    <link rel="icon" href="/assets/images/logos/UNL_N_Logo.svg" type="image/svg+xml">
    <link rel="icon" href="/assets/images/logos/UNL_N_Logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph metadata -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:site_name" content="University of Nebraska-Lincoln">
    <meta property="og:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://hwml.unl.edu/">
    <meta property="og:image" content="/assets/images/iparasite.webp">
    <meta property="og:image:alt" content="A scanning electron image of a trematode.">
</head>
