<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>HWML Mission Statement</h1>
    </div>
    <main>
        <div class="content light_background impact_background">
            <h2>Vision Statement:</h2>
            <blockquote>Providing national and international leadership in research and studies on the systematics, taxonomy, and biodiversity of parasites.</blockquote>
            <br>
            <p style="margin-top:10px;font-family:'Noto Serif',serif;font-weight:bold;text-align:center;font-size:20pt;">Parasitism: The most common mode of life on earth.</p>
        </div>
        <div class="content light_background tilted_background">
            <h2>Mission Statement:</h2>
            <h3>&mdash; Conduct and Support Research in Parasite Systematics and Taxonomy with Current Emphasis on Parasites of Mammals</h3>
            <p class="indented">The current emphasis in the Manter Laboratory is on the helminth parasites of mammals of the Nearctic and Neotropical and Palearctic regions stressing studies of the phylogeny and diversity of parasites of Rodentia, Marsupialia, Xenarthra, and Chiroptera.</p>

            <h3>&mdash; Foster Studies in Parasite Biodiversity</h3>
            <p class="indented">The Manter Laboratory maintains one of the largest and most active collections of parasites in the world. The laboratory is one of only three national resource centers for parasitology. We support research on parasites in the fields of macroecology, biodiversity, systematics, and taxonomy. We loan and archive specimens and generate images for researchers to use both on-site and remotely. Our <a href="https://arctos.database.museum/collection/HWML:Para">database</a> is fully available on Arctos and GBIF.</p>

            <h3>&mdash; Provide State of the Art Laboratory Facilities for Research, Long-term Conservation, Study, Data Capture, and Utilization of Specimens of Parasites</h3>
            <p class="indented">Studies of parasites in the HWML are facilitated by equipment that includes Normarsky, phase contrast, and bright field microscopy. We also have an molecular biodiversity lab associated with the HWML that is dedicated to parasites and is supported by the Parasite Genomic Research Facility.</p>

            <h3>&mdash; Facilitate Training and Research in Parasite Systematics</h3>
            <p class="indented">Students from Nebraska, the USA, and world-wide are supported by travel, visitation, and research grants to study parasites. Limited funds are available for visiting scientists from the several Manter Laboratory Endowments. Graduate students are supported by the School of Biological Sciences, The University of Nebraska-Lincoln, and by grants. </p>

            <h3>&mdash; Collect, Archive, and Distribute Literature on Parasite Systematics and Taxonomy World-Wide</h3>
            <p class="indented">The HWML serves as the Archive Site for the American Society of Parasitologists. The Manter Laboratory also contains and distributes an increasingly valuable set of taxonomic references that are used in the identification, diagnosis, and description of parasites obtained from global biological diversity surveys.<br>
            See: <a href="https://lamarck.unl.edu/trematodes/">https://lamarck.unl.edu/trematodes/</a></p>
        </div>
        <div class="content">
            <a href="/docs/HWML_Mission_Statement.pdf" class="main_button" style="margin:auto;">Download the Mission Statement PDF</a>
        </content>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
