<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1 style="hyphens:auto;">Dr. Mary Louise Hanson Pritchard<br><span style="font-size:0.7em;">Celebrating 100 Years of Life Science and Service<span></h1>
    </div>
    <main>
        <div class="content">
            <img alt="A portrait picture of Dr. Mary Louise Hanson Pritchard" style="margin:20px auto;aspect-ratio:7/8;max-height:500px;width:75%;max-width:400px;border-radius:20px;" class="profile_img" src="/assets/images/documents/centenary/pritchard.webp" />
            <p style="font-size:2em;text-align:center;"><b>July 16-18</b> &mdash; Morrill&nbsp;Hall, University of Nebraska State Museum</p>
            <p style="font-size:1.4em;text-align:center;">Join us in person or online to celebrate the legacy of a pioneering woman of science</p>
            <div style="display:flex;flex-direction:row;align-content:center;justify-content:center;flex-wrap:wrap;">
                <a href="https://unl.zoom.us/j/91227953779" class="main_button">Join via Zoom</a>
                <a href="/docs/centenary/speakers-bios.pdf" class="main_button">Speaker Biographies (PDF)</a>
                <a href="/docs/centenary/pritchard-article.pdf" class="main_button">Pioneer of Parasitology Article</a>
                <a href="/support" class="main_button">Support the Lab</a>
            </div>
               <p style="font-size:1.4em;">Those who want to write to Mary Lou and talk about their personal histories with her are welcome to do so. We will collate them into a readable, printed volume for her. Please email Scott at: <a href="mailto:slg@unl.edu">slg@unl.edu</a></p>
               <p style="font-size:1.4em;">In honoring the pioneering woman of science that she is, we have put together a program focused firmly on the future.</p>
        </div>
        <hr>
        
        <h1>Schedule</h1>
        <div class="content light_background tilted_background">
            <h2>16 July &ndash; <span style="font-weight:normal">The&nbsp;Importance of Museum Science in an Era of Accelerating Global Climate Change</span></h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome, Scott Gardner, Curator, Harold W. Manter Laboratory and University of Nebraska&ndash;Lincoln</p>
            <p>9:30 &mdash;</p>
                <p class="indented">Dan Brooks FRSC, Professor emeritus, University of Toronto and Senior Research Fellow, Harold W. Manter Laboratory: <i>Mary Lou's history and accomplishments</i></p>
            <p>10:00 &mdash;</p>
                <p class="indented">Griselda Pulido-Flores, Universidad Autónoma del Estado de Hidalgo, Mexico and Senior Research Fellow, Harold W. Manter Laboratory: <i>Women in science and research at natural sciences collections</i></p>
            <p>10:45 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:00 &mdash;</p>
                <p class="indented">Valeria Trivellone, University of Illinois; <i>Tracking the elusive: uncovering high diversity of plant pathogenic bacteria in museum biorepositories</i></p>
            <p>11:45 &mdash;</p>
                <p class="indented">Orsolya Bajer-Molnar, Medical University of Vienna, Austria: <i>We're in this together: unveiling hidden pathogen diversity using transdisciplinary initiatives</i></p>
            <p>1:00 → 5:00 &mdash;</p>
                <p class="indented">Workshop using collections in the Manter Lab on a unified glossary for evolution, climate change, and emerging infectious diseases</p>
        </div>
        <hr>
        <div class="content light_background tilted_background">
            <h2>17 July &ndash; <span style="font-weight:normal">Young&nbsp;Women Making Futures for Themselves in Museum-based Research</span></h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome, Scott Gardner</p>
            <p>9:30 &mdash;</p>
                <p class="indented">Allison Hearty, University of Nebraska-Lincoln: <i>Some parasites and associates of Apodiformes</i></p>
            <p>10:00 &mdash;</p>
                <p class="indented">Charlotte Szekeres, Fordham University and Illinois Natural History Survey, Insect Collection Group, University of Illinois National Science Foundation Research Experiences for Undergraduates Fellow: <i>A comprehensive and efficient workflow for pathogen screening, data capture and vouchering of insect vectors</i></p>
            <p>10:30 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:00 &mdash;</p>
                <p class="indented">Lindsay Howard, University of Nebraska-Lincoln: <i>Digitization and Organization of Invertebrate Collections: A Learning Experience</i></p>
            <p>11:30 &mdash;</p>
                <p class="indented">Abigail Horner, University of Nebraska-Lincoln: <i>Parasitic mites of the backswimmers of western Nebraska</i></p>
            <p>1:00 → 5:00 &mdash;</p>
                <p class="indented">Workshop in the Museum on a unified glossary for evolution, climate change, emerging infectious diseases</p>
        </div>
        <hr>
        <div class="content light_background tilted_background">
            <h2>18 July &ndash; <span style="font-weight:normal">Nebraska&nbsp;Coping with Climate Change</span></h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome, Scott Gardner</p>
            <p>9:15 &mdash;</p>
                <p class="indented">Dan Brooks FRSC, Professor emeritus, University of Toronto and Senior Research Fellow, Harold W. Manter Laboratory: <i>A Darwinian Survival Guide: Hope for the Twenty-First Century</i></p>
            <p>10:00 &mdash;</p>
                <p class="indented">Hillary Brown, FAIA, Professor Emerita of Architecture, City College of New York, CUNY, New York: <i>Revitalize | Resettle: Hope for small-town USA in the era of climate mobility</i></p>
            <p>10:45 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:00 &mdash;</p>
                <p class="indented">Bruce Johnson, Nebraska Elder Climate Legacy: <i>The Nebraska Elder Climate Legacy Initiative</i></p>
            <p>11:30 &mdash;</p>
                <p class="indented">Chuck Hassebrook, Sand Hills Energy: <i>Comments on Rural Nebraska from Multiple Perspectives</i></p>
            <p>12:00 &mdash;</p>
                <p class="indented"><i>Lunch</i></p>
            <p>1:00 → 3:30 &mdash;</p>
                <p class="indented">Roundtable Brainstorming Session: <i>How Managed Retreat from Climate Change might impact Rural America, with a Lens on Nebraska</i>. Chuck Hibberd, Nebraska Community Foundation, moderator</p>
        </div>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
