<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>Pritchard Centenary Celebration</h1>
    </div>
    <main>
        <div class="content light_background impact_background">
            <h3><b>July 16-18</b> Morrill Hall, University of Nebraska State Museum</h3>
            <h3>Join us in person or online to celebrate the legacy of a pioneering woman of science</h3>
        </div>
        <h1>Schedule</h1>
        <div class="content light_background tilted_background">
            <h2>16 July</h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome, Scott Gardner, Curator, Harold W. Mater Laboratory and University of Nebraska&ndash;Lincoln</p>
            <p>9:30 &mdash;</p>
                <p class="indented">Mary Lou's history and accomplishment, Dan Brooks FRSC, Professor emeritus at the University of Toronto and Senior Research Fellow, Harold W. Manter Laboratory</p>
            <p>10:00 &mdash;</p>
                <p class="indented">Griselda Pulido-Flores, Universidad Autónoma del Estado de Hidalgo, Mexico and Senior Research Fellow, Harold W. Manter Laboratory</p>
            <p>10:45 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:00 &mdash;</p>
                <p class="indented">Valeria Trivellone, University of Illinois</p>
            <p>11:45 &mdash;</p>
                <p class="indented">Orsolya Bajer-Molnar, Medical University of Vienna, Austria</p>
            <p>1:00 → 5:00 &mdash;</p>
                <p class="indented">Workshop using collections in the Manter Lab on a unified glossary for evolution, climate change, and emerging infectious diseases</p>
        </div>
        <hr>
        <div class="content light_background tilted_background">
            <h2>17 July</h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome</p>
            <p>9:30 &mdash;</p>
                <p class="indented">Allison Hearty, University of Nebraska-Lincoln</p>
            <p>10:00 &mdash;</p>
                <p class="indented">Charlotte Szekeres, University of Illinois</p>
            <p>10:30 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:00 &mdash;</p>
                <p class="indented">Lindsay Howard, University of Nebraska-Lincoln</p>
            <p>11:30 &mdash;</p>
                <p class="indented">Abigail Horner, University of Nebraska-Lincoln</p>
            <p>1:00 → 5:00 &mdash;</p>
                <p class="indented">Workshop in the Museum on a unified glossary for evolution, climate change, emerging infectious diseases</p>
        </div>
        <hr>
        <div class="content light_background tilted_background">
            <h2>18 July</h2>
            <p>9:00 &mdash;</p>
                <p class="indented">Welcome</p>
            <p>9:30 &mdash;</p>
                <p class="indented">Dan Brooks FRSC, Professor emeritus at the University of Toronto and Senior Research Fellow, Harold W. Manter Laboratory</p>
            <p>10:15 &mdash;</p>
                <p class="indented">Hillary Brown, FAIA, Professor Emerita of Architecture at the City College of New York, CUNY, New York</p>
            <p>11:00 &mdash;</p>
                <p class="indented"><i>Break</i></p>
            <p>11:15 &mdash;</p>
                <p class="indented">Bruce Johnson, Nebraska Elder Climate Legacy</p>
            <p>12:00 &mdash;</p>
                <p class="indented">Chuck Hassebrook, Sand Hills Energy</p>
            <p>2:00 → 5:00 &mdash;</p>
                <p class="indented">Workshop in the Museum focusing on climate change, climate migration and the future of Nebraska land-use and cultural landscapes</p>
        </div>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
