<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>Specimen Deposition</h1>
    </div>
    <main>
        <p>Scientific journals mandate that specimens used in publication are preserved for further studies and made available to other researchers. To assure these goals, the current accepted practice is that specimens are deposited in a museum; accession and catalog numbers of the used specimens are included in the publication.&nbsp; The Harold W. Manter Laboratory of Parasitology collection serves as an accredited research collection for specimen deposition (holotypes, paratypes, vouchers) in support of published papers.</p>

        <br>

        <p>If you are planning to deposit specimens in our collection, follow these steps and recommendation:</p>
        <br>

        <ol>
            <li><p>Contact the curator and the collection manager to arrange for the arrival of the specimens. While we are open all year, some periods for specimen processing can be problematic. Do not send specimens between December 15th and the first week of January. Also, the processing of specimens can be delayed during the summer months, due to field work.</p></li>

            <br>

            <li><p><a href="images/linked-files/ParasiteRecordEntry-template.xls">Download the specimen data template MS-Excel sheet</a>, fill it out (there are some example lines in the file) and e-mail it back to the collection manager. Entering data from specimen labels or from printed sheets slows down the cataloging process and it can introduce typos and errors. The essential minimal data are: parasite id (species name), host id, collection locality, collection date. If available, please include additional records (parasite life stage, host sex and age, GPS coordinates of the collection site, collector's name, collector's number, prep-number, host voucher catalog number, person's name who identified the specimen, etc.)</p></li>

            <br>

            <li>
            <p class="intented-paragraph">Prepare the specimens for mailing. Scientific specimens&nbsp;on microscope slides can be sent without restriction (non-live, non-pathogenic, non-toxic, non-hazardous material). Fluid specimens in vials however fall under various shipping regulation. Luckily, current regulation for museum specimens are simple: <a href="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=IATA+special+provision180+applies" target="_blank">follow packaging regulations</a> and include a label on the package "<em>Scientific research specimens, not restricted. Special Provision A180 applies</em>". In general: specimens should be double bagged and sealed to prevent any leakage. In the second layer of plastic bag, some absorbant material (paper towel) should be placed.</p>

            <p class="intented-paragraph">Slides should be placed in a padded slide box. Slides should be labeled with the essential data (parasite id, host id). If nothing else, there must be a collector number written on the slide. Use diamond tip pen to etch numbers, do not use pens or sharpies to write on the slide since they can be easily wiped off.</p>

            <p class="intented-paragraph">Place specimens in an appropriately sized glass vial (neither unnecessarily large or too small) with screw cap. In the collection, we use 1, 2, 4, and 8 dram glass vials (4, 8, 16, and 32ml). If possible, do not send specimens in plastic vials/tubes (eppendorf vials, cryovials, etc.). Since plastic vials degrade over longer period of time (&gt;5 years) specimens originally sent to us in them have to be transferred to glass vials. We are asking this because transfering specimens to appropriate vials can slow down cataloging process. In addition, while handling delicate specimens there is always the risk of damage. Specimen labels should be placed inside the vial. Use cotton paper for the label and fade and alcohol proof pen (UniBall) for creating specimen labels.</p>
            </li>

            <br>

            <li><p>
            Mailing the specimens: it is always a good idea to mail specimens with some kind of tracking options. This is especially true for holotypes and paratypes. USPS First Class mail within the US provides the tracking option. For international delivery, we recommend Registered Mail, although other reliable options are available from certain countries (Canada, EU countries). Also remember, there are additional paperwork for international shipping and the requirements vary by country (customs declaration, export permit, etc).
            <br><br>

            Our mailing address for USPS packages:
            <br>&nbsp; &nbsp; &nbsp; Gabor Racz
            <br>&nbsp; &nbsp; &nbsp; W529 Nebraska Hall
            <br>&nbsp; &nbsp; &nbsp; University of Nebraska - Lincoln
            <br>&nbsp; &nbsp; &nbsp; Lincoln, NE 68588-0514
            <br><br>

            For FedEx and UPS parcels:
            <br>&nbsp; &nbsp; &nbsp; Gabor Racz
            <br>&nbsp; &nbsp; &nbsp; University of Nebraska-Lincoln
            <br>&nbsp; &nbsp; &nbsp; MORR 307
            <br>&nbsp; &nbsp; &nbsp; 645 N. 14th Street
            <br>&nbsp; &nbsp; &nbsp; Lincoln, NE 68588-0338
            <br>&nbsp; &nbsp; &nbsp; (phone: 402-472-3334 or 402-472-2637)
            <br><br>
            If you don't hear from us after your estimated mail delivery date, please contact us and make sure that we know about your specimens.

            </p></li>

            <br>

            <li><span>We catalog specimens in vials or on microscope slides in batches: from a single vertebrate host parasites of the same species are cataloged under the same catalog number. This way, there can be multiple slides or vials under the same catalog number. Multiple slides can represent the same parasites species from the same host, but they might be stained differently. Similarly, multiple vials containing various fluids (alcohol or formalin) can be used to preserve multiple prasite individuals from the same host. &nbsp;The reason for our system is to avoid redundancy in our database: if all the data is the same (same host, same collecting date and locality), a single catalog number captures all the necessary information. The most important deviation from this system is when we catalog a holotype (1 catalog number= one individual), plus paratypes (a separate catalog number from the holotype, even if the parasite specimens came from the same host individual). Researchers who work on invertebrates often pool parasite specimens together from multiple host individuals (collected at the same locality at the same time). However, if you have multiple dates or different "collector's number" we assign a separate catalog number for each of these samples.</span>
            </li>
        </ol>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
