/* CSS File for the "People" page */
.profile {
    padding: 20px;
    position: relative;
}

/* 5 wide grid */
.fellows {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 20px;
}

.fellows div {
    width: 350px;
    font-size: 10pt;
}

.fellows div p {
    font-size: 12pt;
    margin-bottom: 5px;
}

.student_grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 20px;

    div {
        width: 200px;
        font-size: 10pt;
    }

    p {
        font-size: 12pt;
        margin-bottom: 5px;
    }
}

.profile_img {
    width: 50%;
    margin: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 25%;
}

.profile_img.small {
    width: 120px;
    border-radius: 10%;
    float: left;
    margin-right: 10px;
}

.read_more_button {
    display: block;
    cursor: pointer;
    text-align: left;
    position: relative;
    top: -1em;
    font-size: 16pt;
    font-weight: bold;
}

.more {
    display: none;
    animation: 0.5s ease-out slide-down;
    overflow: hidden;
}

.slide_up {
    animation: 0.5s ease-in slide-up;
}

@keyframes slide-down {
    from {max-height: 0px;}
    to {max-height: 1000px;}
}

@keyframes slide-up {
    from {max-height: 1000px;}
    to {max-height: 0px;}
}

@media (prefers-reduced-motion) {
    @keyframes slide-down {
        from {max-height: 1000px;}
        to {max-height: 1000px;}
    }

    @keyframes slide-up {
        from {max-height: 1000px;}
        to {max-height: 1000px;}
    }
}
