<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>Welcome <span style="font-size:0.8em;">to the</span><br>
            Manter Laboratory of Parasitology</h1>
        <img src="/assets/images/iparasite.webp" class="hide-mobile" alt="Scanning electron microscope image of a nematode">
    </div>
    <main>
        <div class="content">
            <h2>A Short History of the Manter Laboratory </h2>
            <p>The Harold W. Manter Laboratory of Parasitology is ranked by parasitologists world-wide as one of the most important active centers of Systematic Parasitology. It is the largest collection of parasites in a University museum world-wide and is the second largest in the western hemisphere.</p>

            <img src="/assets/images/showcase/showcase_1_fp.webp" class="img_float_right circle solid_lightgrey_backdrop" alt="Vials in boxes being labeled and recorded">

            <p>The Manter Laboratory, University of Nebraska State Museum was established 29 March 1971 with the installation of the collection donated to the lab by the late Harold Winfred Manter. In 1981 the HWML was designated by the American Society of Parasitologists one of three National Resource Centers for Parasitology and many students associated with the lab have been trained in systematic and ecological parasitology as well as other aspects of museology.</p>

            <p>Notably, three <a class="clean_link" href="https://www.amsocparasit.org/ward-medal" target="_blank">Henry Baldwin Ward Medalists</a>, the highest annual award that is given by the American Society of Parasitologists to early career parasitologists, were students in the HWML while Professor Mary Hanson Pritchard directed the laboratory (Professor Pritchard is now serving as Curator Emeritus).</p>
        </div>
        <div class="content light_background impact_background">
            <h2>Vision Statement:</h2>
            <blockquote>Providing national and international leadership in research and studies on the systematics, taxonomy, and biodiversity of parasites.</blockquote>
            <br>
            <p style="margin-top:10px;font-family:'Noto Serif',serif;font-weight:bold;text-align:center;font-size:20pt;">Parasitism: The most common mode of life on earth.</p>
            <br>
            <a href="/documents/mission" class="main_button" style="margin:auto;">Read the full Mission Statement</a>
        </div>
        <div class="content">
            <img src="assets/images/showcase/showcase_2_fp.webp" class="img_float_left circle solid_darkgrey_backdrop smaller" alt="Vials in boxes being labeled and recorded">
            <h2>Contributions</h2>
            <p>In the past 5 years, more than 100 publications have resulted from research both in the HWML and from specimens loaned from, or deposited into, the HWML as either type specimens or as voucher specimens.</p>

            <p>On an annual basis we process around 50 loans requests and we receive thousands of specimens into the collection from researchers world-wide for archiving and safe storage.</p>
        </div>

        <div class="content light_background">
            <h2>Field Images:</h2>
            <%- include(appDir + '/views/partials/gallery'); %>
        </div>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
