<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="header_content">
        <h1>Collections Policy</h1>
    </div>
    <main>
        <div class="content">
            <h2>HWML Collections Policy:</h2>
            <p>Original scientific research, based in part on the collections, is conducted by the Curator of the HWML and by members of the museum staff, by faculty members of the University of Nebraska, by visiting scholars, by students at the University of Nebraska and by scholars throughout the world. Specimens in the collection are available for study under normal Museum security procedures. Data based on the collections is considered proprietary. Contract or commercial users may be charged a fee.</p>
        </div>
        <div class="content light_background">
            <p>The main purpose for these guidelines is to protect the collection while promoting research to assist in saving the biodiversity of our earth. It is essential that persons using the collection be reliable, responsible, mature and versed in specimen handling. The collections must be protected as much as possible from improper handling, breakage, accidental damage, and misplacement as from theft or intentional damage. At the same time, we want to make as much of the collection and its associated data available to the scientific community and we hope to encourage more and varied uses of the collection.</p>
        </div>
        <div class="content">
            <h2>Methods of access</h3>
            <p>The HWML provides access to its collections in a number of ways, among which are the following:</p>

            <ol style="list-style-type:upper-alpha;">
                <li>By responding to written or verbal research inquiries or general questions.</li>
                <li>By lending materials to institutions or to their representatives, or individuals for research, educational, or exhibit purposes.</li>
                <li>By physical access to collections areas and items.</li>
                <li>By remote access to collection specimens and or data.</li>
            </ol>

            <hr>

            <p>You may read a full copy of the Collections Policy (PDF) here:</p>
            <a class="main_button" style="margin:auto;" href="/docs/HWML_Collections_Policy.pdf">Collections Policy</a>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
