<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>HWML Research</h1>
    </div>
    <main>
        <h2 class="research_heading">Current Research:</h2>
        <div class="research_left content light_background" style="margin-top: 20px;">
            <img class="research_showcase_left solid_darkgrey_backdrop" src="/assets/images/showcase/showcase_flea.webp">
            <div class="research_box_right">
                <h2>2023 &mdash; Using neural networks to identify parasites in the Manter Laboratory parasite collection</h2>
                <p>From approximately 25,000 flea images in the collection, we are training a neural network and developing a program to enable image identification on demand.</p>
            </div>
        </div>
        <div class="research_right content">
            <div class="research_box_left">
                <h2>2023 &mdash; Parasites of Geomyidae of the Nearctic and northern Neotropical regions</h2>
                <p>We are writing a grant proposal to survey all the species of pocket gophers of North, South and Central America. This will consist of expeditionary research trips to each of the type localities of all the species of gophers.</p>
            </div>
            <img class="research_showcase_right solid_lightgrey_backdrop" src="/assets/images/showcase/showcase_gopher.webp">
        </div>
        <div class="research_left content light_background">
            <img class="research_showcase_left solid_darkgrey_backdrop" src="/assets/images/showcase/showcase_literature.webp">
            <div class="research_box_right">
                <h2>2023 &mdash; Digitizing the rare literature on parasite systematics in the HWML library.</h2>
                <p>Faculty and staff are actively scannning archival literature for permanence.</p>
            </div>
        </div>
        <div class="research_right content">
            <div class="research_box_left">
                <h2>2023 &mdash; Genomic analysis of aspidoderid nematodes.</h2>
                <p>This project involves sequencing of DNA from parasitic nematodes from new world mammals with the goal of understanding their evolutionary relationships of both host and parasite.</p>
            </div>
            <img class="research_showcase_right solid_darkgrey_backdrop" src="/assets/images/showcase/showcase_aspidoderid.webp">
        </div>

        <hr>

        <div class="content light_background tilted_background">
            <h2 class="research_heading">Recent Previous Research:</h2>
            <ul class="research_list">
                <li>Dursahinhan, A.T.; Brooks, D.R.; Botero-Cañola, S; Gardner, S.L. 2022. A new species of Arostrilepis from Ellobius tancrei (Rodentia: Cricetidae) in Mongolia. Parasitology. 149: 1-26.</li>

                <li>Gardner, S.L. 2022. Parasites and the interconnected biosphere. Ideas, Essays. Princeton University Press.</li>

                <li>Hoberg, E.P.;  Boeger, W.A.; Molnar, O.; Foldvari, G.; Gardner, S.L.; Juarrero, A.; Karchenko, V.; Ortiz, E.; Trivellone, V.; Brooks, D.R. 2022. The DAMA Protocol, an Introduction: Finding Pathogens before They Find Us. Manter: Journal of Parasite Biodiversity. doi: 10.32873/unl.dc.manter21. 1 - 20.</li>

                <li>Caraballo, D.; Botero-Canola, S.; Lopez, S.; Gardner, S.L. 2023. Filling the gaps in distribution ranges and conservation status in Ctenomys (Rodentia: Ctenomyidae). Journal of Mammalogy. doi: 10.1093/jmammal/gyac099</li>

                <li>Dursahinhan, A.T.; Botero-Cañola, S; Gardner, S.L. 2023. Intercontinental comparisons of subterranean host–parasite communities using bipartite network analyses. Parasitology. 150: 446-454. doi: 10.1017/S0031182023000148</li>

                <li>Dursahinhan, A.T.; Botero-Cañola, S; Gardner, S.L. 2023. Parasites of subterranean rodents of the world. Zookeys. 1151: 159-203.</li>

                <li>Gardner, S.L.; Grappone, B. 2023. A New Species of Mathevotaenia (Cestoda: Anoplocephalidae) from the Andean Tuco-Tuco, Ctenomys opimus (Rodentia: Ctenomyidae) on the Altiplano of Bolivia. Comparative Parasitology. 90: 1-5. doi: 10.1654/COPA-D-22-00021</li>
            </ul>
        </div>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
