<!DOCTYPE html>
<html lang="en">
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>HWML Research</h1>
    </div>
    <main>
        <h2>Current Research:</h2>
        <div class="research_left content light_background impact_background" style="margin-top: 20px;">
            <img class="research_showcase_left solid_darkgrey_backdrop" src="/assets/images/showcase/showcase_flea.webp">
            <div class="research_box_right">
                <h2>2023 &mdash; Using neural networks to identify parasites in the Manter Laboratory parasite collection</h2>
                <p>[Description here...]</p>
            </div>
        </div>
        <div class="research_right content">
            <div class="research_box_left">
                <h2>202[?] &mdash; Parasites of Geomyidae of the Nearctic and northern Neotropical regions</h2>
                <p>[Description here...]</p>
            </div>
            <img class="research_showcase_right solid_lightgrey_backdrop" src="/assets/images/placeholder.webp">
        </div>
        <div class="research_left content light_background">
            <img class="research_showcase_left solid_darkgrey_backdrop" src="/assets/images/placeholder.webp">
            <div class="research_box_right">
                <h2>[?] &mdash; Digitizing the rare literature on parasite systematics in the HWML library.</h2>
                <p>[Description here...]</p>
            </div>
        </div>
        <div class="research_right content">
            <div class="research_box_left">
                <h2>[?] &mdash; Genomic analysis of aspidoderid nematodes.</h2>
                <p>[Description here...]</p>
            </div>
            <img class="research_showcase_right solid_white_backdrop" src="/assets/images/placeholder.webp">
        </div>

        <hr>

        <div class="content">
            <h2>Previous Research:</h2>
            <p>[A list or something should go here, maybe some select works with a more complete PDF]</p>
        </div>
    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
</html>
