<!DOCTYPE html>
<html>
<%- include(appDir + '/views/partials/head'); %>
<body>
    <%- include(appDir + '/views/partials/header'); %>
    <div class="header_content">
        <h1>People</h1>
    </div>
    <main>
        <div class="content light_background tilted_background">
            <h2>Current Staff:</h2>
            <div class="content dual_column">
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/scott_gardner.webp" alt="picture of caucasian male holding a camera">
                    <h2>Scott L. Gardner, Ph.D.<p>&mdash; Curator &mdash;</p></h2>
                    <p><b>Dr. Scott Lyell Gardner</b>.  Graduated from Oregon State University where he worked with Robert M. Storm and received a B.S. in Biology/Ecology. In 1983 he received his Masters of Arts degree in<span class="dots">...</span><span class="more"> Zoology/Parasitology from the University of Northern Colorado where he worked on helminths of Geomyidae with Gerald D. Schmidt. He received his Ph.D. from the the University of New Mexico where he worked with Donald W. Duszynski  and Terry L. Yates on phylogeny and cospeciation of nematode parasites and their ctenomyid (<i><a href="http://digitalcommons.unl.edu/parasitologyfacpubs/722/">Ctenomys</a></i>) hosts in Bolivia.<br>
                    <br>
                    After a one year post-doc working on coccidian parasites of the genus <i>Eimeria</i> he was appointed Curator of Nematology, UC Davis. In 1994 he became Director and Curator of the Harold W. Manter Laboratory of Parasitology in the Division of Parasitology in the University of Nebraska State Museum. He is an elected fellow of the American Association for the Advancement of Science, a life member of the American Society of Mammalogists, adjunct professor at the University of Nebraska Medical Center, and Professor of Biological Sciences, the University of Nebraska-Lincoln. He has raised more than $3,000,000 in externally awarded grants since he became curator in the HWML. Current work includes the systematics of parasitic cestodes and nematodes of rodents, especially ctenomyids. </span></p>
                    <a onclick="showMore(event)" class="read_more_button">▾ Read more ▾</a>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/gabor_racz.webp" alt="picture of caucasian male with magnifying glasses in a field lab">
                    <h2>Gábor R. Racz, Ph.D.<p>&mdash; Collections Manager &mdash;</p></h2>
                    <p><b>Dr. Gábor Róbert Racz</b>, Born in Budapest, Hungary, attended Eötvös Loránd University, and graduated with a diploma in the field of research biology. He worked at the Hungarian Natural History Museum as a<span class="dots">...</span><span class="more"> curatorial assistant and in 1996 he entered the University of New Mexico to work on his doctorate. During his graduate studies he taught various classes (Intro Biology, Cell Biology, Mammalogy) and served as curatorial assistant in the Mammal Division, Museum of Southwestern Biology. In 2008, Gabor moved to Nebraska, first working as a postdoc at the University of Nebraska, and from 2009 to the current time, as collection manager at the Harold W. Manter Laboratory, University of Nebraska State Museum. Gábor's main research interests are in the ecology and evolution of host organisms and their parasites including studies on ecological factors influencing both spatial and temporal distributions of hantaviruses, arboviruses, tapeworms, and the Nemata. Current work includes studies of nematodes of squamates of Jordan.
                    </span></p>
                    <a onclick="showMore(event)" class="read_more_button">▾ Read more ▾</a>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/allison_hearty.webp" alt="image of a caucasian female with brown hair">
                    <h2>Allison Hearty<p>&mdash; Master's Student and Research Technician &mdash;</p></h2>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/KEVIN_LIEVANO.JPG" alt="image of a male with dk brown eyes and black wavy hair">
                    <h2>Kevin S. Lievano, DVM<p>&mdash; <b>Doctoral Candidate</b> &mdash;</p></h2>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/Nick_Lee.webp" alt="image of a caucasian male with long lt. brown hair. blue t-shirt and a blue cap">
                    <h2>Nicholas Lee<p>&mdash; Doctoral Student &mdash;</p></h2>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/alora.webp" alt="image of a caucasian female with brown hair and a black hat and silver necklace">
                    <h2>Alora Schneider<p>&mdash; Master's Student &mdash;</p></h2>
                </div>
                <div class="profile">
                    <img class="profile_img" src="/assets/images/people/placeholder-square.svg" alt="image of a male with brown eyes and black hair">
                    <h2>Hayley Martin<p>&mdash; Beginning her Doctoral Program (Fall 2026 ?) &mdash;</p></h2>
                </div>

            </div>
        </div>

        <div class="content light_background">
            <h2>Manter Lab Research Fellows:</h2>
            <div class="fellows">
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/daniel_brooks.webp" alt="picture of caucasian male holding a camera setup">
                    <h3>Daniel R. Brooks, Ph.D</h3>
                    <p>Senior Research Fellow</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/TrivelloneV_image.webp" alt="image of a caucasian female with brown hair">
                    <h3>Valeria Trivellone, Ph.D</h3>
                    <p>Research Fellow</p>
                    <p>University of Illinois</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/Eric_Hoberg.webp" alt="Picture of a caucasian male with glasses">
                    <h3>Eric P. Hoberg, Ph.D</h3>
                    <p>Senior Research Fellow</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/Walter_Boeger.webp" alt="Picture of a caucasian male with snorkling gear wearing wetsuit">
                    <h3>Walter Boeger, Ph.D</h3>
                    <p>Senior Research Fellow</p>
                    <p>Universidade Federal do Paraná</p>
                    <p>Setor de Ciências Biológicas</p>
                    <p>Departamento de Zoologia</p>
                    <p>Curitiba, PR - Brasil</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/agustin_jimenez.webp" alt="Picture of a caucasian male">
                    <h3>F. Agustin Jimenez-Ruiz, Ph.D</h3>
                    <p>Research Fellow</p>
                    <p>S. Illinois University</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/Scott_Monks.webp" alt="Picture of a caucasian male">
                    <h3>W. Scott Monks, Ph.D</h3>
                    <p>Senior Research Fellow</p>
                    <p>UAEH Mexico</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/griselda_pulido.webp" alt="Picture of a caucasian female with black hai">
                    <h3>Griselda Pulido, Ph.D</h3>
                    <p>Senior Research Fellow</p>
                    <p>UAEH Mexico</p>
                </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/Juli_notarnic.webp" alt="Picture of a caucasian female with brown hair">
                    <h3>Juliana Notarnicola, Ph.D</h3>
                    <p>Research Fellow</p>
                    <p>Investigador Independiente</p>
                    <p>CONICET, Argentina</p>
               </div>
                <div>
                    <img class="profile_img small" src="/assets/images/people/fellows/sebas_botero.webp" alt="Picture of a caucasian male with black hair">
                    <h3>Sebastian Botero-Canola, Ph.D</h3>
                    <p>Assistant Research Fellow</p>
                    <p>Postdoc, Univ. Florida</p>
                    <p>Gainesville, Fl</p>
                </div>
        </div>

        <h2>Research Fellows Emeriti:</h2>
        <div class="fellows">
            <div>
                <img class="profile_img small" src="/assets/images/people/fellows/john_janovy.webp" alt="Picture of a caucasian male in a t-shirt with glasses">
                <h3>John Janovy Jr, Ph.D</h3>
                <p>Senior Research Fellow</p>
                <p>School of Biological Sciences, UNL</p>
            </div>
            <div>
                <img class="profile_img small" src="/assets/images/people/fellows/karl_rein.webp" alt="Picture of a caucasian male with beard and glasses">
                <h3>Karl J. Reinhard, Ph.D</h3>
                <p>Senior Research Fellow</p>
            </div>
            <div>
                <img class="profile_img small" src="/assets/images/people/placeholder-square.svg" alt="Picture of a caucasian male">
                <h3>Donald W. Duszynski, Ph.D</h3>
                <p>Senior Research Fellow</p>
                <p>University of New Mexico</p>
            </div>
            <div>
                <img class="profile_img small" src="/assets/images/people/delane_kritsky.webp" alt="Picture of a caucasian male">
                <h3>Delane C. Kritsky, Ph.D</h3>
                <p>Senior Research Fellow</p>
                <p>Idaho State University</p>
            </div>
        </div>

    </main>
    <%- include(appDir + '/views/partials/footer'); %>
</body>
<script src="/assets/scripts/readmore.js"></script>
</html>
