<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <div class="header_content">
        <h1>Support and Funding</h1>
    </div>
    <main>
        <div class="content">
            <h2>Current Funding</h2>
            <p>The HWML is supported most currently by funding from the National Science Foundation CSBR Program through these grants:</p>
            <ul>
                <li>DBI-1458139</li>
                <li>DBI-1756397</li>
                <li>DBI-1901911</li>
            </ul>
            <img src="assets/images/showcase/showcase_hamster.webp" class="img_float_right solid_lightgrey_backdrop smaller" style="transform:rotatey(180deg);" alt="Dwarf Hamster (Phodopus) sitting on sand">
        </div>
        <div class="content light_background">
            <h2>Support The Lab</h2>
            <p>Support the ongoing work in parasite biodiversity and species discovery by giving to one of our UN Foundation funds:</p>
            <a href="https://nufoundation.org/fund/01033420/" class="main_button fixed_width">HWML Endowment</a>
            <a href="https://nufoundation.org/fund/01017040/" class="main_button fixed_width">HWML Development Fund</a>
            <a href="https://nufoundation.org/fund/01056470/" class="main_button fixed_width">HWML Library Fund</a>
            <a href="#" class="main_button fixed_width">JT Self Fund</a>
            <!--ul>
                <li><a href="https://nufoundation.org/fund/01033420/">HWML Endowment - for future curatorships</a></li>
                <li><a href="https://nufoundation.org/fund/01017040/">HWML Development Fund - for ongoing expenses and visiting researchers</a></li>
                <li><a href="https://nufoundation.org/fund/01056470/">HWML Library Fund - to support our digital initiative in the HWML Library</a></li>
                <li><a href="">JT Self Fund - for support of lectureships in Parasitology at UNL</a></li>
            </ul-->
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>
